.cabeçalho {
    background-color: #107500;
    color: white;
    display: flex;
    padding: 24px;
    font-size: 20px;
    justify-content: space-around;
}

*{
    margin: 0;
    padding: 0;
}

.cabeçalhoimagem {
    width: 8%;
    height: 8%;
}

.cabeçalholista {
    justify-content: center;
}

.sobre-o-colégio {
    background-image: linear-gradient(#107500, #a2f596);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
}

.sobre-a-escola {
    padding: 24px 0px;
}

.cardápio {
    background-image: linear-gradient(#a2f596, #107500);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
}

.cardápio-da-semana {
    padding: 24px 0px;
}

.galeria {
    background-image: linear-gradient(#107500, #107500);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
}

.fotos {
    width: 1%;
    height: 1%;
}















